{% extends "_layouts/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title%} {{ super() }} | Login {% endblock %}

{% block page_content %}
	<div class="page-header">
		<h1>Zaloguj się</h1>
	</div>
	<div class="row">
    	<div class="col-md-4">
    		{{ wtf.quick_form(form) }}
    	</div>
	</div>
	<div class="row">
	    <p>
            <a href="{{ url_for('auth.password_reset_request') }}">Nie pamiętasz hasła?</a> | <a href="{{ url_for('auth.register') }}">Nie masz konta?</a>
        </p>
	</div
{% endblock %}
