{% extends "_layouts/base.html" %}
{% block title %}{{ super() }} | Niezatwierdzeni{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>Oczekujący na zatwierdzenie</h1>
    </div>
    <ul class="list-group">
        {% for user in  unconfirmed %}
            <li class="list-group-item">
                {{ user.username }} | &lt;{{ user.email }}&gt; <a href="{{ url_for('auth.confirm', id=user.id) }}" class="label label-info">Zatwierdź</a>
            </li>
        {% else %}
            <p>Wszyscy zatwierdzeni. Dobra robota</p>
        {% endfor %}
    </ul>
    <div class="row">
    {% if unconfirmed %}
        <a href="{{ url_for('auth.confirm_all_users') }}" class="btn btn-warning">Zatwierdź wszystkich</a>
    {% endif %}
    </div>
{% endblock %}
