{% extends "_layouts/base.html" %}
{% block title %}
    {{ super() }} | Mamy problem
{% endblock title %}
{% block page_content %}
    <div class="page-header">
        <h1>A to ci heca</h1>
    </div>
    <p class="lead">
        Najwyraźniej coś poszło zupełnie nie tak. Nie ma jednak problemu.
        Nasze wyszkolone w czytaniu logów mrówkojady już mi zaraportowały o tej sytuacji i postaram się z nią uporać.
        Póki co proponuję przeglądać tę część aplikacji która działa. Może ekran logowania?
    </p>
{% endblock page_content %}
